<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, viewport-fit=cover, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      defer
      src="https://cdn.bootcdn.net/ajax/libs/react/17.0.2/umd/react.<%= htmlWebpackPlugin.options.env %>.js"
    ></script>
    <script
      defer
      src="https://cdn.bootcdn.net/ajax/libs/react-dom/17.0.2/umd/react-dom.<%= htmlWebpackPlugin.options.env %>.js"
    ></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@remix-run/router@1.5.0/dist/router.umd.min.js"></script>
    <script
      defer
      src="https://cdn.bootcdn.net/ajax/libs/react-router/6.10.0/react-router.<%= htmlWebpackPlugin.options.env %>.min.js"
    ></script>
    <script
      defer
      src="https://cdn.bootcdn.net/ajax/libs/react-router-dom/6.10.0/react-router-dom.<%= htmlWebpackPlugin.options.env %>.js"
    ></script>
  </head>
  <body class="react-webpack5">
    <div id="root"></div>
  </body>
</html>
