.DS_Store
.vscode
.swp
.swo
webpack-assets.json
.idea
.env
yarn-error.log
newrelic_agent.log
dump.rdb
.project
pm2.json
coverage/*
logs/*
.happypack/*
static/build/*
.cache/*
.test/*
log/*
build/*
dist/*
node_modules/*
npm-debug.log
../chimera/*
webpack.config.js
jest*.js
alias.js
