{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": ["@typescript-eslint", "react-hooks"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    },
    "import/ignore": ["node_modules"]
  },
  "rules": {
    "max-lines": ["error", { "max": 400, "skipBlankLines": true, "skipComments": true }],
    "react-hooks/rules-of-hooks": "error", // 检查 Hook 的规则
    "react-hooks/exhaustive-deps": "error", // 检查 effect 的依赖
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["internal", "parent", "sibling", "index"], "unknown"],
        "pathGroups": [
          {
            "pattern": "$src/**",
            "group": "external",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always"
      }
    ]
  },
  "globals": {
    "__DEV__": false,
    "__MOCK__": false
  }
}
