{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-idiomatic-order",
    "stylelint-config-prettier",
    "stylelint-config-recommended",
    "stylelint-config-css-modules"
  ],
  "customSyntax": "postcss-less"
}
